.img-logo {
    text-align: center;
}

/*___________ ICON MENU ___________*/
#toplevel_page_wdlb div.wp-menu-image img {
    width: 20px;
    height: 20px;
    padding-top: 7px;
}

/*___________ CATEGORIES ___________*/
/* Style du formulaire */
.wdlb-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Style des champs */
.wdlb-form input[type="text"],
.wdlb-form select,
.wdlb-form input[type="checkbox"],
.wdlb-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.wdlb-form input[type="checkbox"] {
    width: inherit;
}

#wdlb-content-upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px dashed #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

/* Style des boutons */
.wdlb-form input[type="submit"],
.wdlb-form .button {
    background-color: #0073aa;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 1.5;
}

.wdlb-form .button.wdlb-or-another-content{
    padding: 5px 10px;
    font-size: 13px;
    margin: 2px auto 5px;
}

/* Style du bouton Annuler */
.wdlb-form .cancel-button {
    background-color: #ccc;
    color: #000;
}

/* Style du conteneur principal */
.wdlb-container {
    margin-top: 20px;
}

/*___________ Logs ___________*/
span.wdlb_admin_document_link {
    padding: 5px 10px;
    background-color: #0073aa;
    margin-left: 2px;
    border-radius: 5px;
    cursor: pointer;
}
span.wdlb_admin_document_link a{
    color: #fff;
    text-decoration: none;
}
