#wdlb-library-nav-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

#wdlb-content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

#wdlb-sidebar {
    width: 20%;
    padding: 10px;
    border-right: 1px solid #cfcfcf;
}

#wdlb-sidebar .wdlb-search #wdlb-search {
    width: 80%;
    padding: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 0;
}

#wdlb-sidebar .wdlb-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

#wdlb-content .wdlb-content-item {
    padding: 5px;
    width: 28%;
    margin: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 200px;
    border: 1px solid #cfcfcf;
    border-radius: 0;
}

#wdlb-content .wdlb-content-item .wdlb-content-item-name {
    font-size: 14px;
    font-weight: 600;
}

#wdlb-content .wdlb-content-item .wdlb-content-item-description {
    font-size: 12px;
    margin-top: 5px;
    flex-grow: 1;
    overflow: hidden;
}

#wdlb-content .wdlb-content-item-categories {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 12px;
}

#wdlb-sidebar .wdlb-filter label > img.wd-tags-icon,
#wdlb-content .wdlb-content-item-categories span.category-tags .wd-tags-icon {
    border-radius: 50%;
    width: 12px;
    padding-right:2px;
}

#wdlb-content .wdlb-content-item-categories span.category-tags {
    margin-right: 2px;
    background-color: #f4f3f3;
    border-radius: 5px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
}

.wdlb-content-item button.wdlb-request-button {
    padding: 5px;
    color: #000;
    background-color: #f4f3f3;
    border: none;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    margin-top: auto;
}

.wdlb-content-item button.wdlb-request-button span.wdlb-checked-item.wdlb-checked::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f00c';
    display: inline-block;
    color: #50C878;
    font-weight: 900;
    margin-right: 5px;
}

#wdlb-header-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #cfcfcf;
}

#wdlb-header-infos #wdlb-limitation-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#wdlb-header-infos #wdlb-limitation-wrapper #wdlb-limitation-info,
#wdlb-header-infos #wdlb-limitation-wrapper #wdlb-limitation-max-msg {
    font-size: 14px;
    font-weight: 600;
}

#wdlb-header-infos #wdlb-limitation-wrapper #wdlb-limitation-max-msg {
    color: #8B0000;
    display: none;
}

#wdlb-header-infos #wdlb-request-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#wdlb-header-infos #wdlb-request-wrapper button#wdlb-confirmation-request {
    padding: 5px;
    color: #000;
    background-color: #f4f3f3;
    border: none;
    border-radius: 0;
    cursor: pointer;
    height: 30px;
    width: 100%;
}

#wdlb-header-infos #wdlb-request-wrapper #wdlb-count-item {
    font-weight: 600;
    line-height: 0;
    text-align: center;
}

#wdlb-form-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#wdlb-form-fade-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

#wdlb-form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #cfcfcf;
    border-radius: 0;
}

#wdlb-form-popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wdlb-form-popup form p {
    font-size: 14px;
    margin-bottom: 10px;
}

#wdlb-form-popup form input[type="submit"] {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
}

#wdlb-form-popup form input[type="submit"]:hover {
    background-color: #f4f3f3;
}

#wdlb-form-popup form input[type="text"],
#wdlb-form-popup form input[type="email"],
#wdlb-form-popup form input[type="number"],
#wdlb-form-popup form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #cfcfcf;
    border-radius: 0;

}

#wdlb-form-popup form .wd-rgpd-check-form {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

#wdlb-form-popup form .wd-rgpd-check-form input {
    margin-right: 5px;
}

#wdlb-form-popup form .wd-rgpd-check-form p {
    font-size: 14px;
}

#cross-popup {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: 600; 
}

#cross-popup:hover {
    color: #cfcfcf;
}

#cross-popup::before {
    content: "\00D7";
}