.img-logo {
    text-align: center;
}

/*___________ CATEGORIES ___________*/
/* Style du formulaire */
.wdlb-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Style des champs */
.wdlb-form input[type="text"],
.wdlb-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style des boutons */
.wdlb-form input[type="submit"],
.wdlb-form .button {
    background-color: #0073aa;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 1.5;
}

/* Style du bouton Annuler */
.wdlb-form .cancel-button {
    background-color: #ccc;
    color: #000;
}

/* Style du conteneur principal */
.wdlb-container {
    margin-top: 20px;
}